@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik+Doodle+Shadow&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.logo {
  text-transform: uppercase;
  font-family: "Rubik Doodle Shadow", sans-serif;
  font-size: 32px;
  color: #edf0f1;
  cursor: pointer;
}

.header-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0;
}

.nav-links li a:hover {
  color: #0088a9;
}

.dropdown-menu {
  position: absolute;
  display: none;
  background-color: #24252a;
  min-width: 160px;
  z-index: 1;
}

.nav-links li:hover .dropdown-menu {
  display: block;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.dropdown-menu ul li {
  padding: 10px;
}

.dropdown-menu ul li a {
  color: #edf0f1;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease 0;
}

.dropdown-menu ul li a:hover {
  color: #0088a9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.container {
  position: relative;
}

.container .wrapper {
  width: 60vw;
  height: 70vh;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  margin: 5rem auto;
  margin-top: 10px;
  overflow: hidden;
}

.container .wrapper-holder {
  display: grid;
  grid-template-columns: repeat(4, 100%);
  height: 100%;
  width: 100%;
  animation: slider 30s ease-in-out infinite alternate;
}

.container .button-holder .button {
  background-color: #edf0f1;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  display: inline-block;
  margin: 0.3rem;
}

.container .button-holder {
  position: absolute;
  left: 47%;
  bottom: 0%;
}

@keyframes slider {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(-100%);
  }
  20% {
    transform: translateX(-100%);
  }
  30% {
    transform: translateX(-200%);
  }
  40% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(-200%);
  }
  60% {
    transform: translateX(-300%);
  }
  70% {
    transform: translateX(-300%);
  }
  80% {
    transform: translateX(-300%);
  }
  90% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}

.main-p {
  color: #edf0f1;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
  
  .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 25px;
  }
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    background-position-x: initial;
    background-position-y: initial;
    background-size: cover;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
  }
  
  .responsive-container-block.Container {
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 150px;
    margin-right: auto;
    margin-bottom: 150px;
    margin-left: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #edf0f1;
  }
  
  .text-blk.heading {
    font-size: 36px;
    line-height: 45px;
    font-weight: 800;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  
  .text-blk.subHeading {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }
  
  .socialIcon {
    width: 33px;
    height: 33px;
  }
  
  .social-icons-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .social-icon {
    margin: 0 50px 0 50px;
  }
  
  .social-icon:hover {
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .text-blk.heading {
      font-size: 55px;
      line-height: 65px;
    }
  
    .text-blk.subHeading {
      font-size: 18px;
      line-height: 24px;
    }
  
    .socialIcon {
      width: 20px;
      height: 20px;
    }
  
    .text-blk.subHeading {
      line-height: 27px;
    }
  
    .text-blk.heading {
      font-size: 32px;
      line-height: 40px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .social-icon {
      margin: 0 25px 0 25px;
    }
  }
  
  @media (max-width: 500px) {
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
  
    .text-blk.heading {
      font-size: 45px;
      line-height: 55px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .text-blk.subHeading {
      font-size: 14px;
      line-height: 22px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 0px;
    }
  
    .social-icons-container {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  
    .text-blk.subHeading {
      font-size: 16px;
      line-height: 23px;
    }
  
    .text-blk.heading {
      font-size: 26px;
      line-height: 30px;
    }
  
    .social-icon {
      margin: 0 20px 0 20px;
    }
  }
